<div class="container-fluid">
    <div class="row justify-content-md-center" style="margin-top: 50px;">
        <div class="col-1 text-center ">
            <div class="">
                <img src="../../../../assets/img/no-image.jpg" alt="Computo" style="width: 100px;">
                <p class="mt-1">Computo</p>
            </div>
        </div>
        <div class="col-1 text-center ">
            <div>
                <img src="../../../../assets/img/no-image.jpg" alt="Impresoras" style="width: 100px;">
                <p class="mt-1">Impresoras</p>
            </div>
        </div>
        <div class="col-1 text-center ">
            <div>
                <img src="../../../../assets/img/no-image.jpg" alt="Accesorios" style="width: 100px;">
                <p class="mt-1">Accesorios</p>
            </div>
        </div>
        <div class="col-1 text-center ">
            <div>
                <img src="../../../../assets/img/no-image.jpg" alt="AudioVisual" style="width: 100px;">
                <p class="mt-1">AudioVisual</p>
            </div>
        </div>
        <div class="col-1 text-center ">
            <div>
                <img src="../../../../assets/img/no-image.jpg" alt="Partes" style="width: 100px;">
                <p class="mt-1">Partes</p>
            </div>
        </div>
        <div class="col-1 text-center ">
            <div>
                <img src="../../../../assets/img/no-image.jpg" alt="Gamer" style="width: 100px;">
                <p class="mt-1">Gamer</p>
            </div>
        </div>
    </div>
</div>